{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    {% if request.user.is_authenticated %}
    <li><a href ="{% url 'webapp:photo_add' %}">Добавить Фото</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Фото:</h1>
    <hr/>
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
    {% for photo in photos %}
        {% if photo.image %}
            <img src="{{ photo.image.url }}" width="200" height="200"  alt="{{ photo.signature }}">
        {% else %}
            <img src="{% static "images/nophoto.png" %}" width="200" height="200" alt="Заглушка" >
        {% endif %}
            <p>Подпись: {{ photo.signature }}</p>
            <p>Автор: {{ photo.author }}</p>
            <p>Cоздана: {{ photo.created_at|date:'Y-m-d H:i:s' }}</p>
            <p>Лайки: {{ photo.likes.count }}</p>
            <a href="{% url 'webapp:photo_view' photo.pk %}">Подробнее.</a>
            <a href="{% url 'webapp:photo_change' photo.pk %}">Обновить</a>
            <a href="{% url "webapp:photo_delete" photo.pk %}">Удалить</a>
        <hr/>
    {% endfor %}
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
{% endblock %}