{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ photo.signature }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:photo_change' photo.pk %}">Обновить</a></li>
    <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a></li>
{% endblock %}

{% block content %}
    {% if photo.image %}
        <img class="photo-image" src="{{ photo.image.url }}" width="250" height="250" alt="{{ photo.signature }}">
    {% else %}
        <img src="{% static "images/nophoto.png" %}" width="200" height="200" alt="Заглушка" >
    {% endif %}
    <div class="pre-1">
        <p>Подпись: {{ photo.signature }}</p>
        <p>Автор: {{ photo.author }}</p>
        <p>Cоздана: {{ photo.created_at|date:'Y-m-d H:i:s' }}</p>
        <p>Лайк: {{ photo.likes }}</p>
    </div>
    <hr/>
    <h3>Отзывы:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="comment-list">
        {% for comment in photo.comments.all %}
            <div class="comment">
                <p><strong>Автор:</strong> {{ photo.author }}</p>
                <p class="text col-12 align-self-center">Дата создания: {{ comment.created_at|date:'Y-m-d H:i:s' }}</p>
                <div class="pre">{{ comment.text }}</div>
{#                <p class="comment-links">#}
{#                        <a href="{% url 'webapp:review_change' review.pk %}">Обновить</a>#}
{#                        <a href="{% url 'webapp:review_delete' review.pk %}">Удалить</a>#}
{#                </p>#}
            <hr>
            </div>
        {% empty %}
            <p>Нет отзывов</p>
        {% endfor %}
    </div>
{#    <form action="{% url 'webapp:product_review_add' product.pk %}" method="POST" id="add_comment">#}
{#        {% include 'partial/form.html' with button_text='Добавить Отзыв' %}#}
{#    </form>#}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}