{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ photo.signature }}{% endblock %}

{% block menu %}
    {% if perms.webapp.change_photo or request.user == photo.author%}
        <li><a href="{% url 'webapp:photo_change' photo.pk %}">Обновить</a></li>
    {% endif %}
    {% if perms.webapp.delete_photo or request.user == photo.author%}
        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if photo.image %}
        <img class="photo-image" src="{{ photo.image.url }}" width="250" height="250" alt="{{ photo.signature }}">
    {% else %}
        <img src="{% static "images/nophoto.png" %}" width="200" height="200" alt="Заглушка" >
    {% endif %}
    <div class="pre-1">
        <p>Подпись: {{ photo.signature }}</p>
        <p>Автор: {{ photo.author }}</p>
        <p>Cоздана: {{ photo.created_at|date:'Y-m-d H:i:s' }}</p>
        <p>Лайки: {{ photo.likes}}</p>
        {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-success">Like</button>
            <button type="button" class="btn btn-danger">Dislike</button>
        {% endif %}
    </div>
    <hr/>
    <h3>Отзывы:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="comment-list">
        {% for comment in photo.comments.all %}
            <div class="comment">
                <p><strong>Автор:</strong> {{ photo.author }}</p>
                <p><strong>Дата создания:</strong> {{ comment.created_at|date:'Y-m-d H:i:s' }}</p>
                <div class="pre">{{ comment.text }}</div>
            <hr>
            </div>
        {% empty %}
            <p>Нет отзывов</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}